{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block main %}
<head>
    {% block extrahead %}
        {% if calendario %}
            {{ form.media }}
        {% endif %}
    {% endblock %}
    <link href={% static "css/estilos.css" %} rel="stylesheet">
    <link href={% static "css/bootstrap-grid.css" %} rel="stylesheet">
    <link href={% static "css/bootstrap-reboot.css" %} rel="stylesheet">
    <link href={% static "css/bootstrap.css" %} rel="stylesheet">
</head>

<h3>{{ titulo }}</h3>
    <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="Submit">{{ strigBotao }}</button>
        <button type="button" onclick="location.href='/'">Voltar</button>
    </form>
{%endblock%}