{% extends 'base.html' %}
{% load static%}
{% block main %}

{% for msg in messages %}
    <div class="alert alert-success alert-dismissible">
        {{ msg }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>    
{% endfor %}

<head>
    <link href={% static "css/estilos.css" %} rel="stylesheet">
    <link href={% static "css/bootstrap-grid.css" %} rel="stylesheet">
    <link href={% static "css/bootstrap-reboot.css" %} rel="stylesheet">
    <link href={% static "css/bootstrap.css" %} rel="stylesheet">
</head>

<body>
    <h3>Lista de Rotativos</h3>
    {% for i in dados %}
        Veiculo: {{ i.id_veiculo }} <br>
        Entrada: {{ i.data_entrada }} <br>
        Saída: {{ i.data_saida }} <br>
        Total: {{ i.total }} <br>
        Pago: <font color="red">{{ i.pago }}</font> <br>
        <br>
        <button onclick="location.href='/altera_rotativo/{{i.id}}'" type="button" class="btn btn-success"><i class="fa fa-edit"></i>Editar</button>
        <button id="botao_excluir" onclick="location.href='/exclui_rotativo/{{i.id}}'" type="button" class="btn btn-danger"><i class="fa fa-trash"></i>Excluir</button>
        <br>
        <hr>
        <br>
        <br>
    {% endfor %}
    <button type="button" onclick="location.href='/'">Voltar</button>

    {% if verifica == False %}
        <section class="modal">
            <div id="card">
                <h3>AVISO</h3>
                <hr>
                <p>Rotativo {{objeto}} excluido com sucesso!!</p>
                <div class="btns">
                    <a class="btn-ok" href="/">OK</a>
                </div>
            </div>
        </section>
    {% endif %}

</body>

{%endblock%}